<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sepidsa.fortytwocalculator"
    android:versionCode="19"
    android:versionName="2.07" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <provider
            android:name=".data.LogProvider"
            android:authorities="com.sepidsa.fortytwocalculator"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name=".data.ConstantProvider"
            android:authorities="com.sepidsa.fortytwocalculator.constants"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name=".data.CurrencyProvider"
            android:authorities="com.sepidsa.fortytwocalculator.currency"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".ParallaxPagerActivity"
            android:label="@string/parallax_activity_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".PremiumShowcasePagerActivity"
            android:label="@string/premium_parallax_activity_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name=".ColorPickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_color_picker"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.CurrencyAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.CurrencySyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sepidsa.fortytwocalculator.MainActivity" />
        </activity>
    </application>

</manifest>
